root{
    -fx-background-image: url("../images/mainback.jpg");
    -fx-background-size: cover;
}

Button{
    -fx-background-color: white;
    -fx-background-radius: 5;
    -fx-border-color: #010100;
    -fx-border-radius: 5;
    -fx-border-width: 1;
    -fx-padding: 5 10;
    -fx-cursor: Hand;
}

Button:hover{

    -fx-background-color: #696666;
    -fx-border-color: white;
}

#show-button{
    -fx-background-color: white;
    -fx-background-radius: 5;
    -fx-border-color: #010100;
    -fx-border-radius: 5;
    -fx-border-width: 1;
    -fx-padding: 5 10;
    -fx-cursor: Hand;
}
#show-button:hover{
    -fx-background-color: #696666;
    -fx-border-color: white;
}


#error{
    -fx-text-fill: #C2302D;
    -fx-font-size: 14;
    -fx-font-family: "Times New Roman";
}

#title{
    -fx-text-fill: #010;
    -fx-font-size: 30;
    -fx-border-color: #010;
    -fx-border-radius: 3;
    -fx-font-family: "Times New Roman";
}

.label{
    -fx-text-fill: #010;
    -fx-font-size: 20;
    -fx-font-family: "Times New Roman";
}

.Background{
    -fx-background-image: url("../images/LoginBack.jpg");
    -fx-background-size: cover;
    -fx-background-position: center center;
    -fx-background-repeat: stretch;
}

Hyperlink{
    -fx-text-fill: white;
}

Hyperlink:hover{
    -fx-border-color: white;
}

Hyperlink:focused{
    -fx-border-color: white;
}

TextField{
    -fx-border-radius: 5;
    -fx-border-color: #010;
    -fx-border-width: 1;
    -fx-padding: 5;
    -fx-text-fill: #010;
    -fx-pref-width: 150;
    -fx-effect: dropshadow(three-pass-box,rgba(0,0,0,0.5),10,0,0,1);
}

TextField:focused{
    -fx-border-width: 3;
    -fx-effect: dropshadow(three-pass-box,rgba(0,0,0,0.5),10,0,0,1);
}

#PassField{
    -fx-border-radius: 5;
    -fx-border-color: #010;
    -fx-border-width: 1;
    -fx-padding: 5;
    -fx-text-fill: #010;
    -fx-pref-width: 150;
    -fx-effect: dropshadow(three-pass-box,rgba(0,0,0,0.5),10,0,0,1);
}

#PassField:focused{
    -fx-border-width: 3;
    -fx-effect: dropshadow(three-pass-box,rgba(0,0,0,0.5),10,0,0,1);
}