.mapPane{
    -fx-border-color: black;
}

Button{
    -fx-min-width: 70;
    -fx-background-color: #d0b1f0;
    -fx-background-radius: 5;
    -fx-border-color: #010100;
    -fx-border-radius: 5;
    -fx-border-width: 1;
    -fx-padding: 5 10;
    -fx-cursor: Hand;
}