root{
    -fx-background-image: url("../images/mainback.jpg");
    -fx-background-size: cover;
}

Button{
    -fx-background-color: #301A1A;
    -fx-min-height: 40;
    -fx-max-height: 40;
    -fx-min-width: 130;
    -fx-max-width: 130;
    -fx-font-style: Impact;
    -fx-text-fill: #F3E9E9;
    -fx-font-size: 20;
}

TextField{
    padding: 6px 12px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    appearance: none;
    border-radius: 4px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;}
focus{
    color: #212529;
    background-color: #fff;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}


.Background{
    -fx-background-image: url("../images/mainback.jpg");
    -fx-background-size: cover;
    -fx-background-position: center center;
    -fx-background-repeat: stretch;
}