Button{
    -fx-min-width: 90;
        -fx-max-width: 90;
        -fx-background-color:
                #3c7fb1,
                linear-gradient(#fafdfe, #e8f5fc),
                linear-gradient(#eaf6fd 0%, #d9f0fc 49%, #bee6fd 50%, #a7d9f5 100%);
        -fx-text-fill: black;
        -fx-font-size: 11px;
}

Pane{
    -fx-min-width: 320;
    -fx-max-width: 320;
    -fx-max-height: 150;
    -fx-min-height: 150;
}

Label{
    -fx-text-fill: black;
     -fx-font-size: 11px;
}

TextField{
    -fx-background-color: white;
}

Spinner{
    -fx-max-width: 70;
}


ChoiceBox{
}